.regression{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.regression .graph-container {
    margin: 20px 0;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.regression .graph {
    width: 600px;
    height: 500px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.regression .calculations {
    min-height: 460px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .regression  .calculations p {
    font-size: 16px; 
    color: #333; 
    margin: 10px 0; 
    width: 300px;
  }
  
  .regression  .calculations h4 {
    font-size: 18px; 
    color: #663aa7; 
    margin-bottom: 10px; 
    text-align: center; 
  }
  
  .regression  .steps-list {
    list-style-type: none; 
    padding: 0; 
    text-align: left; 

  }
  
  .regression   .steps-list li {
    background-color: #f8f8fc;
    border-radius: 4px; 
    padding: 10px;
    margin: 5px 0;
    font-size: 14px; 
    color: #444; 
  }
  
  .regression  .steps-list li:hover {
    background-color: #f4f4fa;
  }


  .tooltip {
    position: absolute;
    font-size: 14px; 
    color: #444; 
    background-color: #f8f8fc;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    padding: 5px 10px;
    visibility: hidden;
  }