.queue-visualizer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 300px;
}

.queue {
    display: flex;
    /* flex-direction: row-reverse; */
    padding: 10px 10px;
    margin: 200px;
    border: #690f58 solid 1px;
    /* border-top: none; */
    border-radius: 10px 10px;
    min-width: 500px;
    min-height: 50px;
}

.element {
    width: 100px;
    height: 50px;
    background-color: #fb21d3;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    animation: que-slideIn 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.dequeued {
    animation: que-slideOut 1s cubic-bezier(0, 0, 0.2, 1);
}

.controls {
    margin-top: 20px;
}

@keyframes que-slideIn {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        background-color: rgb(87, 47, 197);

        opacity: 1;
    }
}

@keyframes que-slideOut {
    from {
        transform: translateX(0);
        opacity: 1;

    }

    to {
        transform: translateX(-300px);
        /* opacity: 0.9; */
        background-color: darkblue;

    }
}