/* Styles for the queue visualizer container */
.queue-visualizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    /* Ensure it fills the viewport height */
}

/* Styles for the queue stack */
.queue {
    display: flex;
    padding: 10px 10px;
    margin: 20px auto 20px auto;
    /* Increase top margin to shift it upwards */
    border: #690f58 solid 1px;
    border-radius: 10px;
    min-width: 500px;
    height: 50px;
}

.pointer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pointer.front {
    position: absolute;
    margin-top: -80px;
    margin-left: 30px;
    color: red;
}

.pointer.rear {
    margin-left: -85px;
    padding: 0 15px;
    margin-top: 60px;
    color: green;
}

.pointer span{
    font-weight: bold;
}

.element {
    width: 100px;
    height: 50px;
    background-color: #fb21d3;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    animation: slideIn-enqueue 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.dequeued {
    animation: slideOut-dequeue 0.5s cubic-bezier(0, 0, 0.2, 1);
}



/* Additional keyframe animations */
@keyframes slideIn-enqueue {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        background-color: rgb(87, 47, 197);
        opacity: 1;
    }
}

@keyframes slideOut-dequeue {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-200px);
        background-color: darkblue;
    }
}