/* style1.css */

.result-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.operation-result {
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* 
.menu {
  margin-bottom: 20px;
}

.menu div {
  display: flex;
  align-items: center;
}

.menu select,
.menu button {
  margin-right: 10px;
} */

.binary-tree {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stack-item {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.tree-node {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.representation {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.ide {
  margin-bottom: 20px;
}

.comment {
  color: #555;
  margin-bottom: 5px;
}

.explanation {
  font-size: 16px;
  line-height: 1.6;
}


.side-panel-toggle {
  position: fixed;
  right: 20px;
  /* bottom: 20px; Adjust this value to change the vertical position */
  display: inline-block;
  min-width: 120px;
  margin: 10px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.side-panel-toggle:hover {
  background-color: #0d8bff;
}

.complexity-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.complexity {
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ensure the container takes full width of its parent */
  /* display: flex; */
  justify-content: center;
  align-items: center; /* Center content vertically */
}



/* style1.css */

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
