.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph {
    margin-bottom: 120px;
}

.canvas {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center; /* Centering the canvas */
}

.vertex {
    fill: #007bff;
}

.vertex-text {
    font-size: 16px;
    fill: #fff;
}

.visited-vertex-text {
    font-size: 16px;
    fill: #000; /* Change color for visited vertices */
}

.edge {
    stroke: #007bff;
    stroke-width: 2;
}

.representation {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.ide,
.explanation {
    flex: 1;
}

.line {
    width: 100%;
    border-top: 1px solid black; /* Changed color to black */
}

.ide span,
.explanation span {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    display: block;
    padding: 5px 10px;
    margin: 0;
    border: none;
    border-top: none;
}

.comment.w-100 {
    width: 100%;
}

.comment::before {
    content: ' ';
    display: block;
    /* border-top: 1px solid #ddd; */
    margin-top: 5px;
}

@media (max-width: 768px) {
    .representation {
        flex-direction: column;
    }

    .ide,
    .explanation {
        width: 100%;
    }
}
